body {
  font: 14px FF DIN;
  background: linear-gradient(to bottom, #33ccff 0%, #ff99cc 100%);
}

#pic {
  float: right;
  width: 200px;
  height:250px;
}

#button {
        margin-left: 40%;
        margin-right: 40%;
         
        border-radius: 15px;
        height: 100px;
}

#container {
         width: 800px;
         margin: 40px auto 60px;
}
  
