body {
      font: 18px FF DIN;  
      background: url(noise.png);
}

#pic {
      float: right;
      width: 200px;
      height:250px;
}

#button {
       margin-top:20px;
       margin-left: 200px;
       margin-right: 200px;
         
       border-radius: 15px;
       height: 100px;
}

#container {
       margin-top:20px;
       margin-left: 200px;
       margin-right: 200px;
       width: 100px;
  
       padding: 10px 15px 10px 150px;
       
       border-radius: 20px;
       background: linear-gradient(to bottom, #33ccff 0%, #ff99cc 100%);
       
       text-align: left;
}


        
         
  
